.main {
  height: 100vh;
  padding: 0 2rem;
  background-color: rgb(0, 226, 234);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.top {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.about {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.news {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.contact {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid azure;
  justify-content: center;
  color: azure;
  background-color: rgb(0, 226, 234);
}



