.main {
  height: 100vh;
  padding: 0 2rem;
  background-color: rgb(0, 226, 234);
  overflow: auto;
  scroll-snap-type: y mandatory;
  
  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 120%;
    height: 2px;
    background: azure;
    opacity: 80%;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

  a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  
  }

}

.top {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.about {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.news {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.contact {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid azure;
  justify-content: center;
  color: azure;
  background-color: rgb(0, 226, 234);
}


/* blog */
.blogmain {
  width: 960px;
  margin: 0 auto;
}

.blogtitle {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}